@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer base {
    h1 {
        @apply mt-5;
        @apply text-2xl;
        @apply font-bold;
        @apply mb-10;
    }
    h2 {
        @apply mt-5;
        @apply text-xl;
        @apply font-bold;
        @apply mb-10;
    }
    h3 {
        @apply mt-5;
        @apply text-lg;
        @apply font-bold;
        @apply mb-10;
    }
    h4 {
        @apply mt-5;
        @apply text-xl;
        @apply font-semibold;
        @apply mb-10;
    }
}
